@import '~normalize.css';


// .material-icons {
// 	@include material-icons();
//   }



body {
	font-family: Hind, sans-serif;
}



.material-icons {
	color: gray;
}

.md-48 { font-size: 40px; }

.header {
	border-bottom: 1px solid rgba(255, 255, 255, .2);
	position: fixed;

	width: 100%;
	z-index: 50;
	transition: .25s;
	@media screen and (max-width: 1050px) {
		background-color: white;
		h1 {
			color: #515769 !important;
	
		}
	}
}

.header__offset {
	background-color: white;
	ul {
		color: #515769 !important;
	}
	h1 {
		color: #515769 !important;

	}
}

.conteiner {
	
	max-width: 1028px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
	@media screen and (max-width: 1050px) {
		max-width: 768px;
	}
}

.header__row {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	.header__wrapp-logo {
		z-index: 20;
		height: 90px;
		display: flex;
		justify-content: center;
		align-items: center;
		
		height: 100%;
		padding-right: 20px;
		h1 {
			color: #fff;

		}

		@media screen and (max-width: 1050px) {
			background-color: #fff;
			
		}
		
	}

	.header__menu {
	}

	
}

.menu {
	height: 90px;
	display: flex;
	justify-content: flex-end;
	z-index: 5;
	transition: .4s margin;
	.menu__body {

		display: flex;
		align-items: center;
		.menu__list {
			list-style: none;

			

 			.menu__item {
				display: inline;
				color: white;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 600;
				cursor: pointer;
				position: relative;
				padding: 0;
				margin-left: 30px;
				&:before {
					content: "";
					width: 50px;
					height: 20px;
					display: inline-block;
					position: absolute;
					left: -18px;
					top: 6px;
					width: 9px;
					height: 2px;
					background: #17bed2;
					z-index: 6;
					transition: .5s ease-in-out;
					opacity: 0;
				}
				@media screen and (max-width: 1050px) {
					color: #515769;
					display: block;
					margin-bottom: 26px;
				}
				
			}
			.menu__item:hover:before, .menu__item_hover:before {
				opacity: 1;
				transition: .25s;


			}

			
		}
		.menu__list_close {
			display: none;
		}
	}
	@media screen and (max-width: 1050px) {
		width: 100%;
		justify-content: flex-start;
		height: 100%;
		margin-top: -300px;
		transform: scale(0);
	}
}

.menu_open {
	transform: scale(1);
	margin-top: 0;
}

.burger {
	width: 30px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
	
	display: none;

	@media screen and (max-width: 1050px) {
		display: flex;
	}
	
	

	.burger__line {
		transition: .4s;
		flex: 1;
		width: 30px;
		margin: 3px 0;
		background: #515769;
		border-radius: 10px;
		display: block;
		&:first-child {
			width: 15px;
		}
		&:nth-child(2) {
			width: 20px;
		}

		
	}
	&:hover .burger__line {
		background: #17bed2;
		width: 30px;
	}
}

.promo {
	background: url('../img/1920x1080/01.jpg') center no-repeat;
	background-size: cover;
	padding: 250px 0 250px;
	position: relative;
	z-index: 1;
	&:before {
		content: "";
		background: rgba(81,87,105,.4);
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		height: 100%;
	}
	.promo__row {
		display: flex;
		flex-direction: column;
		z-index: 5;
		.promo__wrapp-title, .promo__wrapp-text {
			text-align: center;
			color: white;
		}

		.promo__wrapp-title h1 {
			font-size: 65px;
			margin: 10px 0;
			font-weight: 600;
			@media screen and (max-width: 768px) {
				font-size: 45px;

			}


		}

		.promo__wrapp-text p {
			font-size: 25px;
		}
		
	}
}

.products {

	.conteiner {
		padding: 0;
	}

	.products__row {
		padding: 50px 0;
		display: flex;
		flex-direction: column;

		.products__wrapp-title {
			margin: 0 24%;
			text-align: center;
			.products__title h2 {
				font-size: 25px;
    			color: #515769;
			}
			.products__text {
				font-size: 16px;
    			color: #a6a7aa;

			}
			@media screen and (max-width: 768px) {
				margin: 0 2%;

			}
		}
		
		.products__body {
			display: flex;
			justify-content: space-around;
			padding-top: 30px;
			
			.products__item {
				flex: 0 0 31%;
				overflow: hidden;
				margin: 10px 0;

			}
			.products__img {
				overflow: hidden;
			}

			.products__img img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				background-color: #fff;
			}

			@media screen and (max-width: 768px) {
				flex-direction: column;
			}
		}
	}
}

.description {
	margin: 0 15px;
	.description__title {
		margin-top: 15px;
		& h3 {
			color: #515769;
			font-size: 18px;
			display: inline;
			margin-right: 10px;
		}

		& h4 {
			color: #bfc1c7;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: 400;
			display: inline;
		}
	}

	.description__text {
		margin-top: 10px;
		color: #a6a7aa;
	}

	.description__footer {
		margin-top: 20px;
		color: #44464c;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 700;
		span {
			cursor: pointer;
			position: relative;
			&:hover {
				color: #8a8c96;
			}
		}
		& span:after {
			content: "";
			width: 50px;
			height: 20px;
			display: inline-block;
			position: absolute;
			// left: 0px;
			right: -15px;
			top: 5px;
			width: 9px;
			height: 2px;
			background: #17bed2;
			z-index: 10;
			transition: 1s ease-in-out;
		}
	}
}


.full-width-img {
	padding-top: 25px;
	display: flex;
	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
	.full-width-img__left img {
		width: 99%;
		height: 100%;
		margin-right: 1%;
	}

	.full-width-img__right img {
		width: 99%;
		height: 100%;
		margin-left: 1%;

	}
}

.service {
	background-color: #fafafa;

	.service__rows {
		padding-top: 75px;
		padding-bottom: 75px;

		display: flex;
		flex-direction: column;
		.service__row {
			display: flex;
			@media screen and (max-width: 768px) {
				flex-direction: column;
			}

			justify-content: space-between;
			.service__box {


				flex: 0 0 23%;
				padding: 5%;
				justify-content: center;
				align-items: center;
				background-color: #fff;
				margin: .25% 0;
				transition: .4s ease-in-out;

				.service__body {
					// text-align: center;
					i {
						transition: .4s ease-in-out;

					}
					h4 {
						color: #515769;
						font-size: 18px;
					}
					p {
						color: #73798a;
					}
					height: 200px;
				}

				&:hover {
					padding-top: 10px;
					background: #17bed2;
					h4, p {
						color: white;
					}
					cursor: pointer;
					.service__body i {
						opacity: 0;
					}
				}
			}
		}
	}
}

.promo-banner {
	width: 100%;
	// height: 350px; //11111111
	background: url(../img/1920x1080/02.jpg) center center no-repeat fixed;
	background-size: cover;
	position: relative;
	z-index: 10;
	padding: 60px 0;
	.promo-banner__body {
		width: 60%;
		margin: 0 auto;
		h3 {
			text-align: center;
			font-size: 40px;
			margin: 0;
			padding: 0;
			color: white;
			margin-bottom: 20px;
		}
		p {
			padding: 0;
			margin: 0;
			color: #dddddd;
			font-size: 17px;
			text-align: center;
			line-height: 26px;

			
		}
		@media screen and (max-width: 768px) {
			width: 90%;
		}
	}

	&:before {
		content: "";
		background: rgba(81,87,105,.4);
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100%;
		box-sizing: border-box;
		height: 100%;
	}
		margin-bottom: 200px;
}

.footer {
	width: 100%;
	height: 90px;
	border-top: 1px solid #edf0f2;
	display: flex;
	justify-content: center;
	align-items: center;
	&__contact {
		a {
			text-decoration: none;
			color: #0e8b99;

			&:hover {
				color: #17bed2;
			}


		}
	}
}